1. list Operations and Basic Statistics

In [5]:
lis = list(range(1,21)) # to make a list of first 20 natural numbers

even_sum = 0
odd_sum = 0
odd_product = 1
for i in lis:
  if i%2 == 0:
    even_sum += i
  else:
    odd_product *= i

print("Sum of even numbers is",even_sum)
print("Product of odd numbers is", odd_product)
# to calculate sum of even numbers and product of odd numbers

def mean(lis):
  sum = 0
  for i in lis:
    sum += i
  return sum/len(lis)
print("Mean of numbers is", mean(lis))


def median(lis):
  lis.sort()
  if len(lis)%2 != 0:
    return lis[(len(lis)//2)]
  else:
    return (lis[(len(lis)//2)] + lis[(len(lis)//2)-1])/2
print("Median of numbers is", median(lis))
  

sqaures_sum = 0
for i in lis:
  sqaures_sum += i**2
variance = (sqaures_sum/20) - ((mean(lis))**2)
sd = variance**0.5
print("Standard deviation is", sd)

Sum of even numbers is 110
Product of odd numbers is 654729075
Mean of numbers is 10.5
Median of numbers is 10.5
Standard deviation is 5.766281297335398

2. Mutable vs. Immutable Data Types

Mutable data types are those which can be modified after they are created. Examples of this data type are lists and dictionaries as values can be created or edited in these using attributes like list.append(), list.pop() etc.

Immutable data types cannot be modified once they are created. Examples of this are strings and tuples which donot have the attributes mentioned above.

3. Fibonacci Sequence

In [15]:
def fibo_list(n):
  fibo = 1
  fibo_list = [0]
  for i in range(n-1):
    fibo_list.append(fibo)
    fibo += fibo_list[i]
  return fibo_list

x = int(input())
print(fibo_list(x))

[0, 1, 1, 2]

4. List Manipulation

In [6]:
sample_list = [3, 5, 7, 9, 11, 13]
sample_list.insert(3,6)
sample_list.remove(7)
sample_list.reverse()
print("Final list is", sample_list)
print("Mean is", mean(sample_list))
print("Median is", median(sample_list))

Final list is [13, 11, 9, 6, 5, 3]
Mean is 7.833333333333333
Median is 7.5

5) User Input and Basic Statistics

In [8]:
list1 = list(map(int, input().split(',')))
print("Mean is", mean(list1))

list1.sort()
print("Smallest number:", list1[0])
print("Largest number:", list1[-1])

Mean is 30.0
Smallest number: 10
Largest number: 50

6. Palindrome Check

In [17]:
str1 = input()
str1 = str1.replace(' ', '')
str1 = str1.lower()


if str1 == str1[::-1]:
  print(True)
else:
  print(False)

True

7. Dictionary Operations

In [18]:
marks_dict = {"Aditya" : 95, "Dhruv" : 96, "Divyansh" : 93, "Yash" : 92, "Aryan" : 93, "Arpit" : 90, "Yuvraj" : 91, 'Raghav' : 92, "Kartik" : 93}
# making a list of marks to compute their average
marks_list = list(marks_dict.values())

av_marks = mean(marks_list)
print(av_marks)

for i in marks_dict:
    if marks_dict[i]>= av_marks:
        print(i)

92.77777777777777
Aditya
Dhruv
Divyansh
Aryan
Kartik

8. Tuple List Creation

In [1]:
sq_list = [(x,x*x)for x in range(1,11)]
print(sq_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

9. Merging Dictionaries

In [20]:
d1 = {'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'f' : 6, 'g' : 7}
d2 = {'f' : 1, 'g' : 2, 'h' : 3, 'i' : 4, 'j' : 5}


d3 = d1.copy()

for i in d2:
  if i in d3:
    d3[i] += d2[i]
  else:
    d3[i] = d2[i]

print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 7, 'g': 9, 'h': 3, 'i': 4, 'j': 5}

10. Character Frequency

In [21]:
def freq_count(str1):
  
  str1 = str1.lower()
  set1 = set(str1)
  

  freq = {}
  for i in set1:
    freq[i] = str1.count(i)

  if ' ' in freq:
    del freq[' ']

  return freq
  
print(freq_count(input()))

{'y': 1, 'r': 1, 'a': 10, 'd': 4, 'm': 2, 'u': 1, 'h': 1, 'i': 6, 't': 5, 'n': 4, 'e': 1, 'g': 2, 's': 1}

11. Remove Duplicates

In [2]:
orig_list = [1, 1, 3, 4, 5, 7, 7, 8, 8, 8, 9, 10]
unique_list = []
for i in orig_list:
  if i not in unique_list:
    unique_list.append(i)

print(unique_list)

[1, 3, 4, 5, 7, 8, 9, 10]

12. String Operations

In [26]:
str_list = ["mango", "apple", "banana", "orange", "grape", "kiwi", "peach", "strawberry", "pineapple", "watermelon"]
len_list = sorted(str_list, key = len, reverse = True)
print('Longest string is:', len_list[0])

count = 0
for i in str_list:
    if i.startswith(('a', 'e', 'i', 'o', 'u')):
      count += 1

print(f"Number of strings starting with vowel: {count}")

Longest string is: strawberry
Number of strings starting with vowel: 2

13. Sorting Dictionaries

In [22]:
data = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 22}, {'name': 'Aditya', 'age': 23}, {'name': 'Akshat', 'age': 24}, {'name': 'Anmol', 'age': 28}, {'name': 'Bhavya', 'age': 21}]

sorted_data = sorted(data, key=lambda x: x['age'])
print(sorted_data)

[{'name': 'Bhavya', 'age': 21}, {'name': 'Bob', 'age': 22}, {'name': 'Aditya', 'age': 23}, {'name': 'Akshat', 'age': 24}, {'name': 'Alice', 'age': 25}, {'name': 'Anmol', 'age': 28}]

14. Word Filtering and Sorting

In [23]:
words_string = "the earth is round and it revolves around the sun"

words_list = words_string.split()
words_list1 = []
for i in words_list:
  if len(i)>=4:
    words_list1.append(i)

(words_list1.sort())
print(words_list1)

['around', 'earth', 'revolves', 'round']

15. Anagram Finder

In [24]:
word = "listen"
words = ["enlist", "google", "inlets", "banana", "silent", "apple"]
anagrams = []

for i in words:
    for j in i:
        if j not in word:
            break
    else:
        anagrams.append(i)


print(anagrams)

['enlist', 'inlets', 'silent']

16. Set Operations

In [25]:
list1 = ["India", "USA", "UK", "France", "Sweden", "Ireland"]
list2 = ["Germany", "Italy", "Japan", "Sweden", "Ireland"]

set1 = set(list1)
set2 = set(list2)

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
symdiff_set = set1.symmetric_difference(set2)

union_list = list(union_set)
intersection_list = list(intersection_set)
symdiff_list = list(symdiff_set)

print("Intersection is:", intersection_list)
print("Unions is:", union_list)
print("Symmertic Difference is:", symdiff_list)

Intersection is: ['Sweden', 'Ireland']
Unions is: ['India', 'Sweden', 'Germany', 'Italy', 'Japan', 'USA', 'Ireland', 'France', 'UK']
Symmertic Difference is: ['Germany', 'India', 'Italy', 'Japan', 'USA', 'France', 'UK']

17. File Operations

In [9]:
f=open("file.txt","w")
for i in range(20):
  f.write(str(i)+"\n")
f.flush()
f.close()

f=open("file.txt","r")

try:
  total=0
  while True:
    line=f.readline()
    
    num=int(line)
    total+=num
except:
  f.close()
print("sum:",total)

sum: 190

18. Word Count and Frequency

In [11]:
def mode(lis):
    mode = None
    set1 = set(lis)
    for i in set1:
        if lis.count(i) > lis.count(mode):
            mode = i
    return mode

f = open("words.txt" , "r")
content = f.read()
content = content.replace(".", "").replace(",","")
words = content.split()
print(mode(words))

we

19. Random Number Generation

In [12]:
import random
f=open("file1.txt","w")
for i in range(100):
  f.write(str(random.randint(1,51))+"\n")
f.flush()
f.close()

f = open("file1.txt", "r")
numbers = []
try:
  while True:
    numbers.append(int(f.readline()))
except:
  f.close()

print("Mean:", mean(numbers))

Mean: 26.11

21. Basic Statistics

In [27]:
nums_list = [2, 3, 1, 2, 6, 4, 1, 1, 7, 9, 5, 2, 9, 4, 1, 5, 6, 7]

def mode(lis):
    mode = None
    set1 = set(lis)
    for i in set1:
        if lis.count(i) > lis.count(mode):
            mode = i
    return mode

sq_sum = 0
for i in nums_list:
    sq_sum += i**2

variance = sq_sum/len(nums_list) - mean(nums_list)**2
sd = variance**0.5

print("The mean is:", mean(nums_list))
print("The median is:", median(nums_list))
print("The mode is:", mode(nums_list))
print("The standard deviation is:", sd)

The mean is: 4.166666666666667
The median is: 4.0
The mode is: 1
The standard deviation is: 2.6509956200978104

22. Normalization

In [13]:
l=[56,74,25,76,35,90,21,45,26,79]
max_l=max(l)
min_l=min(l)

normalised=[]

for i in l:
    num=(i-min_l)/(max_l-min_l)
    normalised.append(num)
print(normalised)

[0.5072463768115942, 0.7681159420289855, 0.057971014492753624, 0.7971014492753623, 0.2028985507246377, 1.0, 0.0, 0.34782608695652173, 0.07246376811594203, 0.8405797101449275]

23. Even or Odd

In [1]:
n = int(input())

if n%2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

24. Grade Calculator

In [3]:
marks = int(input())

if marks>= 90:
    print("Grade A")
elif 80<=marks<90:
    print("Grade B")
elif 70<=marks<80:
    print("Grade C")
elif 60<=marks<70:
    print("Grade D")
else:
    print("Grade F")

Grade B

25. Leap Year Checker

In [4]:
year = int(input())
def is_leap(x):
    if x%400 == 0:
        return True
    elif x%100 == 0:
        return False
    elif x%4 == 0:
        return True
    else:
        return False
    
if is_leap(year):
    print("Leap year")
else:
    print("Not a leap year")

Not a leap year